<div class="container mt-5">
  <h4>✦ leave review ✦</h4>
  <br>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.button :submit, class: 'btn btn-success' %>
  <% end %>
</div>
